<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="headerTemplete :: headerTempl">
</head>
<body>

<span th:if="${error}">
    <div class="alert alert-danger"
         th:utext="#{label.error}">
        error
    </div>
</span>
<span th:if="${noAccountError}">
    <div class="alert alert-danger"
         th:utext="#{label.account.not.found.error}">
        error
    </div>
</span>
<a href="/" th:href="@{/admin/accounts}" th:utext="#{label.back.to.accounts.page}">Back to Cards Page</a>
</body>
</html>