# Project exclude paths
/target/
/task2game/target/
/task1/target/
/.idea/
/task2game/task2game.iml
/task2gameV2/task2gameV2.iml
/task2test/task2test.iml
/task2test/target/
/task2gameV2/target/
/task3inputForm/task3inputForm.iml
/task3inputFormV2_1/task3inputFormV2_1.iml
/task3inputForm/target/
/task3inputFormV2_1/target/
/ExceptionsGolovach/ExceptionsGolovach.iml
/task1/task1.iml
/ImmutableAndEqualsHashcode/ImmutableAndEqualsHashcode.iml
/collectionsTasks/collectionsTasks.iml
/collectionsTasks/target/
/streamsTask/streamsTask.iml
/streamsTask/target/
/Project/Project.iml
/Project/.mvn/wrapper/wrapper.iml
/Project/target/
/ProjectServlet/ProjectServlet.iml
