<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{label.title}"></title>
</head>
<body>
<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a th:href="@{/login}" th:utext="#{label.login}">Login</a>
    <a th:href="@{/registration}" th:utext="#{label.registration}">Registration</a>
    <a th:href="@{/main?lang=en}">ENG</a>
    <a th:href="@{/main?lang=ua}">UA</a>
</div>
<h1 th:utext="#{label.greeting}"></h1>
</body>
</html>