<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="headerTemplete :: headerTempl">
</head>
<body>

<span th:if="${noUserError}">
    <div class="alert alert-danger"
         th:utext="#{label.user.not.found.error}">
        error
    </div>
</span>
<span th:if="${duplicatedError}">
    <div class="alert alert-danger"
         th:utext="#{label.some.unique.field.duplicated.error}">
        error
    </div>
</span>
<a href="/" th:href="@{/user/accounts}" th:utext="#{label.back.to.accounts.page}">Back to Cards Page</a>
</body>
</html>