<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="headerTemplete :: headerTempl">
</head>
<body>

<span th:if="${error}">
    <div class="alert alert-danger"
        th:utext="#{label.error}">
        error
    </div>
</span>
<span th:if="${noUserOrAccountError}">
    <div class="alert alert-danger"
         th:utext="#{label.account.or.user.not.found.error}">
        error
    </div>
</span>
<span th:if="${duplicatedError}">
    <div class="alert alert-danger"
         th:utext="#{label.some.unique.field.duplicated.error}">
        error
    </div>
</span>
<a href="/" th:href="@{/user/creditCards}" th:utext="#{label.back.to.cards.page}">Back to Cards Page</a>
</body>
</html>