<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="headerTemplete :: headerTempl">
</head>
<body>
<div th:replace="headerTemplete :: panelTopMain">
</div>
<h1 th:utext="#{label.greeting}"></h1>

<span th:if="${error}">
    <div class="alert alert-info"
         th:utext="#{label.add.card.error}">
            error
    </div>
</span>

<table style="border-spacing: 7px 11px; border-collapse: separate;">
    <thead>
    <tr>
        <th th:utext="#{label.credit.card}"> Card number </th>
        <th th:utext="#{label.expiration.date}"> Expiration date </th>
        <th th:utext="#{label.money}"> Money </th>
        <th th:utext="#{label.active}"> Active </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${userCards.empty}">
        <td colspan="4" th:utext="#{label.no.cards}"> no cards </td>
    </tr>
    <tr th:each="userCard : ${userCards}">
        <td><span th:text="${userCard.cardNumber}"> Card number </span></td>
        <td><span th:text="${userCard.expirationDate}"> Expiration date </span></td>
        <td><span th:text="${userCard.money}"> Money </span></td>
        <td><span th:text="${userCard.active} ? #{label.active.card} : #{label.disabled.card}"> Active </span></td>
    </tr>
    </tbody>
</table>

<form name="addForm" th:action="@{/user/creditCards/add}" method="post">
    <input type="submit" value="add"/>
</form>
</body>
</html>